.pr-head {
    font-size: 30px;
    line-height: 45px;
}

nav {
    flex-direction: column;
    padding: 12px 30px;
}

.menus a {
    padding: 0px 3px;
    font-size: 12px;
}

#home {
    padding: 3px 5%;    
    height: 500px;
}

#about,#courses,#contact {
    padding: 30px 5px;
}


.courses-box {
    width: 100%;
    margin: 20px 24px;
}